.signup-form-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: 
    "i1"
    "i2"
    "i3"
    "i4"
    "i5";

  @media screen and (min-width: $tablet-md) {
    grid-template-areas: 
    "i1 i2"
    "i3 i3"
    "i4 i5";
  }
}

.signup-form-grid .input-wx {
  &:nth-child(1) {
    grid-area: i1;
  }
  &:nth-child(2) {
    grid-area: i2;
  }
  &:nth-child(3) {
    grid-area: i3;
  }
  &:nth-child(4) {
    grid-area: i4;
  }
  &:nth-child(5) {
    grid-area: i5;
  }
}