.section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: $header-height-sm + 2rem;
  padding-bottom: $navbar-width + 2rem;
  color: $light;
  background: $dark-3;

  @media screen and (min-width: $tablet-md) {
    padding: $header-height 2rem 4rem ($left-offset - 4rem);
  }
  
  @media screen and (min-width: $laptop-sm) {
    padding: $header-height 2rem 4rem $left-offset;
  }
}

.section-container {
  padding: 0 1rem;

  @media screen and (min-width: $laptop-sm) {
    padding: 0;
  }
}

